*{
    margin: 0;
    padding: 0;
    outline: 0;
}
ul li{
    list-style: none;
}
a,a:hover{
    text-decoration: none;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* navigation part css start  */
.navbar{
    padding: 15px 0;
}
.navbar-nav .nav-item .nav-link{
    color: #0e1424;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar-nav .nav-item .nav-link.active{
    color: #31d7ce;
}
/* navigation part css end */
/* banner part css start  */
#banner-bg{
    
    background-color: rgb(44, 44, 44);
}
.banner{
    background: url(../images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 250px 0;
}
.banner-con{
    text-align: center;
    text-transform: uppercase;
}
.banner-con h1{
    color: #31d7ce;
    font-size: 48px;
    font-family: 'poppins', sans-serif; 
    font-weight: 800;
    letter-spacing: 6px;
    margin-bottom: 30px;
}

.banner-con a{
     color: #31d7ce;
     padding: 10px 30px;
     border: 2px solid #fff;
     border-radius: 50px;
     margin-left: 15px;
     font-family: 'poppins', sans-serif; 
     font-weight: 700;
     text-transform: uppercase;

}


/* banner part css end */
/* about part css start  */
.about-main{
    margin-top: 130px;
}
.about-con{
    padding-top: 30px;
    margin-left: 20px;
}
.about-con h2{
    color: 252525;
    font-family: 'open', sans-serif; 
    font-size: 30;
    font-weight: 600;
    text-transform: uppercase;
}
.about-con p{
    font-size: 16px;
    color: #2f2f2f;
    line-height: 35px;
    margin-bottom: 30px;
}
.about-con a{
    color: #fff;
    background-color: #0dac88;
    padding: 10px 25px;
    border-radius: 50px;
    text-align: center;
}
/* about part css end */
/* service part css start  */
.common-heading{
    margin-top: 130px;
    margin-bottom: 30px;
}
.common-heading h4{
    font-size: 40px;
    font-family: 'open', sans-serif; 
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
}
.ser-main{
    padding: 60px 40px 40px 10px;
}

.ser-main:hover{
    box-shadow: 1px 1px 10px #24ddb3;
}
.ser-icon img{
    background-color: #24ddb3;
    padding: 20px;
    border-radius: 10px;
    float: right;
}
.ser-con{
    margin-left: 10px;
}
.ser-con h6{
    font-size: 16px;
    font-family: 'open', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
.ser-con p{   
    font-size: 14px;
    font-family: 'open', sans-serif;
    font-weight: 500;
    line-height: 25px;
    text-transform: capitalize;
}

/* service part css end */
/* portfolio part css start  */
.gly-img{
    margin-bottom: 20px;
    position: relative;
}

.gly-overlay{
    background-color: rgba(0, 0, 0, 0.64);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: all linear .3s;
}
.gly-overlay a{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    line-height: 40px;
}

.gly-img:hover .gly-overlay{
    transform: scale(1);
    transition: all linear .3s;
}

/* portfolio part css end */

/* blog part css start  */
.blog-con h3{
    font-size: 18px;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
}
.blog-con p{
    color: #666666;
    font-size: 16px;
    font-family: 'open', sans-serif;
    font-weight: 300;
    line-height: 30px;
    text-transform: capitalize;
}
.blog-con h6{
    color: #555555;
    font-size: 13px;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    text-transform: uppercase; 
}
/* blog part css end */

/* footer part css start  */

footer{
    background-color:#000415 ;
    padding: 100px 0 0 0;
    color: #fff;

}
.f-logo-con h6{
    margin-top: 10px;
    padding-bottom: 120px;
    font-size: 18px;
    font-family: 'poppins', sans-serif;
    font-weight: 300;

}
.f-icon ul{
    padding-left: 0;
}
.f-icon ul li a{
    font-size: 24px;
    display: block;
    color: rgb(230, 230, 230);
}

.f-num p{
    font-family: 'open', sans-serif;
    font-size: 14px;   
}

.foooter-nav{
    color: #818181;
    text-align: center;
    padding: 4px 0;
    padding-top: 60px;

}
/* footer part css end */